h1{
    margin-left: 5px;
    margin-bottom: 20px;
   
}
h2{
    border-bottom: 2px solid lightblue;
}
.one{
    margin-left: 25px;
    margin-top: 23px;
    text-align: center;
    }
span{
    padding: 10px;
    margin-top: 20px;
}
.two{
    justify-content: end;
    padding-left: 800px;
    margin-top: 2px;
}
.form-control{
margin-top: 10px;
}
.table{
    margin-top: 23px;
    width: 100%;
}
.body:hover{
    background-color: lightslategray;
}
h6{
   margin-left: 25px; 
   margin-top: 15px;
}
.d-grid{
    margin-left:  1100px; 
}